html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Josefin Sans", sans-serif;
}
main {
  margin: 1rem;
  padding: 1rem;
  background-color: #f3efef;
  border-radius: 2rem;
}
h1,
h2,
p,
ol,
li {
  margin-block-end: 1rem;
}

h1 {
  font-size: 2.8rem;
}
h2 {
  font-size: 2.4rem;
}
p,
ol {
  margin-inline-start: 0.7rem;
}
ol {
  list-style: decimal inside;
}
span {
  margin-inline-start: auto;
}
button {
  background-color: darkslateblue;
  color: white;
  padding: 1.2rem;
  border: none;
  border-radius: 0.3rem;
  font-size: 1.7rem;
}
.font-info {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.font-info p {
  margin: 0;
}
